<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">

	<title>Welcome to Brian Karabinchak's Landing Page</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Material Design-->
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<!--Custom CSS-->
	<link rel = "stylesheet" href="assets/css/style.css">
</head>
<body>
	<div class = "container">
		<!--Header-->
		<div class = "row header">
			<div class = "col s12 m12 l12">
				<h2>Brian Karabinchak</h2>
			</div>
		</div>
	</div>

	<!--jQuery CDN-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--Material Design JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

</body>
</html>