nav {
	background-color: #777777;
}

.tabs {
	background-color: #16262E;
	color: #9FA2B2;
}

.travel-blog {
	background-color: #2E4756;
	color: #DBC2CF;
}

.whos-rep {
	background-color: #3C7A89 ;
	color: #DBC2CF;
}

.mindful-quit {
	background-color: #478978;
	color: #D6EDFF;
}

#name-logo {
	padding-left: 20px;
}

#welcome  {
	background-color: #666666;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	height: 33%;
}

#contact-me {
	background-color: #1B4079;
	color: #8FAD88;
}

.row {
	margin-bottom:0px;
	padding-top: 8%;
	width:100%;
}

.tab-row {
	padding-top:0%;
}

#about-me {
	background-color: #29524A;
	color: #DDDDDD;
}

#projects {
	background-color: #280004;
	color: #CCC9A1;
}

#skills {
	background-color: #4C230A;
	color: #F0FFCE;
}

.collection.with-header .collection-header, .collection .collection-item {
	background-color: #4C230A;
}

.tab-content {
	height: 300px;
}

/*
	Change based on widths
*/
#tabs-swipe-demo{
	margin-left: 8.33%;
	width: 83.33%;
}

#left-tab {
	margin-left: 12%;
}

/*
	Height of rows for different views
*/
@media screen and (min-width: 584px) {
	.row {
		height: 664px;
	}
	#skills {
		height: 750px;
	}
}
